<a href="https://colab.research.google.com/github/Nunrod1201/Python/blob/main/FutureSkill.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**EP3**

In [ ]:
name = input('What is your name: ')
height = int(input("What is your height in cm: "))
weight = int(input("What is your weight in cm: "))
BMI = int(weight/height/height*10000)
print('BMI of', name, 'is: ',BMI)

What is your name: Somsri
What is your height in cm: 170
What is your weight in cm: 50
BMI of Somsri is:  17

**EP4 Exploring List**

***Indexing***

In [ ]:
#Indexing > list[]
weekday = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
weekday[0]

'Monday'

In [ ]:
weekday = ['Monday', '0.3', 'Wednesday', '5', 'Friday']
weekday[1]

'0.3'

In [ ]:
#Nested Indexing > list = [,[]]
nested_list = ['Monday', [1, 2, 3, 4, 5]]
nested_list[1]

[1, 2, 3, 4, 5]

In [ ]:
#Nested Indexing > list = [,[]]
nested_list = ['Monday', [1, 2, 3, 4, 5]]
nested_list[1][2]

3

In [ ]:
#Negative Indexing ไล่จากหลังไปหน้า
#The last element in the list is -1 index and The second to the last element in the list is -2 index
weekday = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
weekday[-3]

'Wednesday'

***Slicing***

In [ ]:
#Slicing
#เอาตัวนี้ถึงตัวนี้
weekday = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
weekday[0:3]

['Monday', 'Tuesday', 'Wednesday']

In [ ]:
#Slicing
#เอาตั้งแต่ตัวไปนี้เป็นต้นไป
weekday = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
weekday[3:]

['Thursday', 'Friday']

In [ ]:
#Slicing
#เอาตั้งแต่ตัวไปนี้เป็นต้นไป ย้อนกลับ
weekday = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
weekday[:-3]

['Monday', 'Tuesday']

***Adding*** ***Elements*** ***to*** ***List***

In [ ]:
### append method ###
num_list = [10, 20, 30, 40, 50]
num_list.append(60)
print(num_list)

[10, 20, 30, 40, 50, 60]

In [ ]:
### extend method ###
num_list = [10, 20, 30, 40, 50]
num_list.extend([60, 70, 80, 90, 100])
print(num_list)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
### insert method ### แทรกได้ทีละตัว
### list.insert(index, element) ###
num_list = [10, 20, 30, 40, 50]
num_list.insert(3, 70)
print(num_list)

[10, 20, 30, 70, 40, 50]

In [ ]:
### insert range of elements to a specific index in a list ### แทรกได้หลายๆตัว
### list[index:number of element] = (element1, element2, ...)
num_list = [10, 20, 30, 40, 80, 90, 100]
num_list[4:3] = [50, 60, 70,]
print(num_list)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

***Changing Elements of a List***

In [ ]:
#ทีละตัว
num_list = [10, 20, 30, 40, 50]
num_list[0] = 0
print(num_list)

[0, 20, 30, 40, 50]

In [ ]:
#หลายๆตัว
num_list = [10, 20, 30, 40, 50]
num_list[0:3] = [0, 1, 2]
print(num_list)

[0, 1, 2, 40, 50]

***Concatenating Lists***

In [ ]:
weekday = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
weekend = ['Saturday', 'Sunday']
week = weekday + weekend
print(week)

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

In [ ]:
week = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
weekend = ['Saturday', 'Sunday']
week += weekend
print(week)

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

***Repeating List***

In [ ]:
num_list = [10, 20, 30, 40, 50]*3
print(num_list)

[10, 20, 30, 40, 50, 10, 20, 30, 40, 50, 10, 20, 30, 40, 50]

In [ ]:
weekend = ['Saturday', 'Sunday']*3
print(weekend)

['Saturday', 'Sunday', 'Saturday', 'Sunday', 'Saturday', 'Sunday']

***Deleting Elements from a List***

In [ ]:
## remove() ## specific item
## list.remove(specific element) ##
num_list = [10, 20, 30, 40, 50]
num_list.remove(20)
print(num_list)

[10, 30, 40, 50]

In [ ]:
## pop() ## specific index
## list.pop(specific index)
num_list = [10, 20, 30, 40, 50]
num_list.pop(1)
print(num_list)

[10, 30, 40, 50]

In [ ]:
## del() ## Can delete an element or range elements
## 1.del list[index]
## 2.del list[from index:to index]
num_list = [10, 20, 30, 40, 50]
del num_list[1]
print(num_list)

[10, 30, 40, 50]

In [ ]:
num_list = [10, 20, 30, 40, 50]
del num_list[1:3]
print(num_list)

[10, 40, 50]

***Clear Elements from List***

In [ ]:
## list.clear()
num_list = [10, 20, 30, 40, 50]
num_list.clear()
print(num_list)

[]

In [ ]:
## Trick > delete the list by replacing them with empty space[]
num_list = [10, 20, 30, 40, 50]
num_list[:] = []
print(num_list)

[]

***Checking Membership in a list***

1.   in
2.   not in

In [ ]:
num_list = [10, 20, 30, 40, 50]
30 in num_list

True

In [ ]:
weekend = ['Saturday', 'Sunday']
'monday' not in weekend

True

***Other Methods***

In [ ]:
##Sorting >> ascending>> list.sort()
weekday = ['A', 'B', 'C', 'D', 'E']
weekday.sort()
print(weekday)

['A', 'B', 'C', 'D', 'E']

In [ ]:
##reverse >> Descending >> list.reverse()
weekday = ['A', 'B', 'C', 'D', 'E']
weekday.reverse()
print(weekday)

['E', 'D', 'C', 'B', 'A']

In [ ]:
##count
weekday = ['A', 'B', 'C', 'D', 'E', 'A']
count_A = weekday.count('A')
count_B = weekday.count('B')
print(count_A)
print(count_B)

2
1

In [ ]:
##len() >> len(list) >> count the number of elements in a list
weekday = ['A', 'B', 'C', 'D', 'E', 'A']
len(weekday)

6

In [ ]:
##max >> max(list)
num_list = [10, 20, 30, 40, 50]
max(num_list)

50

In [ ]:
##max >> max(list)
weekday = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
max(weekday)

'Wednesday'

In [ ]:
##sum >> sum(list)
num_list = [10, 20, 30, 40, 50]
sum(num_list)

150

**EP5 Exploring Dictionary**

my_tuble = ()
  >> same as List but can not change the list like remove, append, ...
my_set = set() or my_set = {}
  >> group of unique elements (no repeat) เก็บเแพาะค่าที่ไม่ซ้ำถึงแม้เราจะใส่ข้อมูลซ้ำ
  >> can contain element type except mutable, list

In [73]:
## Add Element to a Set
num_set = {10, 20, 30 ,50}
num_set.add(40)
print(num_set)

{40, 10, 50, 20, 30}

In [75]:
## Update Element to a set
num_set = {10, 20, 30 ,40}
num_set.update([50, 60, 70])
print(num_set)

{70, 40, 10, 50, 20, 60, 30}

In [76]:
## Delete an  Element from a set
num_set = {10, 20, 30 ,40}
num_set.remove(20)
print(num_set)

{40, 10, 30}

In [77]:
## Clear Element from a set
num_set = {10, 20, 30 ,40}
num_set.clear()
print(num_set)

set()

***Set Operators***

In [80]:
## Union
set1 = {1, 2, 3}
set2 = {1, 2, 4}
set1.union(set2)

{1, 2, 3, 4}

In [81]:
##Intersection
set1 = {1, 2, 3}
set2 = {1, 2, 4}
set1.intersection(set2)

{1, 2}

In [82]:
##Intersection
set1 = {1, 2, 3}
set2 = {1, 2, 4}
set1&set2

{1, 2}

In [83]:
##Difference >> มีใน1 ไม่มีใน2
set1 = {1, 2, 3}
set2 = {1, 2, 4}
set1.difference(set2)

{3}

In [84]:
## Symmetric Difference >> ตัวที่มีอยู่ในอันใดอันนึง ไม่ซ้ำ ตัวที่ต่างกัน
set1 = {1, 2, 3}
set2 = {1, 2, 4}
set1.symmetric_difference(set2)

{3, 4}

In [85]:
## In
set1 = {1, 2, 3}
set2 = {1, 2, 4}

1 in set1

True

In [87]:
## Not In
set1 = {1, 2, 3}
set2 = {1, 2, 4}

2 not in set2

False

***Dictionary***

In [91]:
## Access Elements of Dictionary
my_dictionary = {'name':'Somsri', 'subject':'python', 'score': 40.50, 'ranking':1}
my_dictionary['name']

'Somsri'

In [95]:
## Add and Change Key-value Pair to a Dictionary

# Add New Key-value Pair
my_dictionary = {'name':'Somsri', 'subject':'python', 'score': 40.50, 'ranking':1}
my_dictionary['result'] = 'pass'
print(my_dictionary)

{'name': 'Somsri', 'subject': 'python', 'score': 40.5, 'ranking': 1, 'result': 'pass'}

In [97]:
# Overide the existing key-value pair >> อัปเดททับอันเดิมกรณีที่มีkey นั้นยุแล้ว
my_dictionary['score'] = 98
print(my_dictionary)

{'name': 'Somsri', 'subject': 'python', 'score': 98, 'ranking': 1, 'result': 'pass'}

In [98]:
## Delete Key-value Pair to a Dictionary
my_dictionary = {'name':'Somsri', 'subject':'python', 'score': 40.50, 'ranking':1}
my_dictionary.pop('subject')
print(my_dictionary)

{'name': 'Somsri', 'score': 40.5, 'ranking': 1}

In [99]:
## Clear Key-value Pair to a Dictionary
my_dictionary = {'name':'Somsri', 'subject':'python', 'score': 40.50, 'ranking':1}
my_dictionary.clear()
print(my_dictionary)

{}

In [102]:
## Updating Dictionary
my_dictionary1 = {'name':'Somsri', 'subject':'python', 'score': 40.50, 'ranking':1}
my_dictionary2 = {'surname':'Sompong','Grade': 4, 'score': 50} ## update score
my_dictionary1.update(my_dictionary2)
print(my_dictionary1)

{'name': 'Somsri', 'subject': 'python', 'score': 50, 'ranking': 1, 'surname': 'Sompong', 'Grade': 4}

In [103]:
## List Elements in a Dictionary
my_dictionary = {'name':'Somsri', 'subject':'python', 'score': 40.50, 'ranking':1}
my_dictionary.items()

dict_items([('name', 'Somsri'), ('subject', 'python'), ('score', 40.5), ('ranking', 1)])

In [104]:
my_dictionary = {'name':'Somsri', 'subject':'python', 'score': 40.50, 'ranking':1}
my_dictionary.values()

dict_values(['Somsri', 'python', 40.5, 1])

In [105]:
my_dictionary = {'name':'Somsri', 'subject':'python', 'score': 40.50, 'ranking':1}
my_dictionary.keys()

dict_keys(['name', 'subject', 'score', 'ranking'])

In [106]:
## CHeck Membership in a Dictionary
### in
'name' in my_dictionary

True

In [109]:
### not in
'surname' not in my_dictionary

True

In [110]:
##Len นับจำนวนkey
my_dictionary = {'name':'Somsri', 'subject':'python', 'score': 40.50, 'ranking':1}
len(my_dictionary)

4

In [112]:
## Dict >> convert data type from list or tuble to dictionary
pair_list = [('red','apple'),('yellow','banana'),('green','kiwi')]
new_dict = dict(pair_list)
print(new_dict)

{'red': 'apple', 'yellow': 'banana', 'green': 'kiwi'}

In [113]:
type(new_dict)

dict

***EP6 Conditional Statements Loops***

In [119]:
## IF
num_list = [10,20,30,40,50]
guess = eval(input('Guess a number: '))
if guess in num_list:
    print('You guess is right !')
print('You can get the prize only when your guess is right.') ##ไม่อยู่ในลูปif

Guess a number: 40
You guess is right !
You can get the prize only when your guess is right.

In [117]:
## If Eles
num_list = [10,20,30,40,50]
guess = eval(input('Guess a number: '))
if guess in num_list:
    print('You guess is right !')
else:
    print('You guess is wrong !')
print('You can get the prize only when your guess is right.')

Guess a number: 60
You guess is wrong !
You can get the prize only when your guess is right.

In [122]:
## if-elif-eles >> ถ้าเข้าคอนดิชั่นแรกแล้วจบเลย ไม่ไปต่อ
firstPrize_num_list = [10,20,30,40,50]
secondPrize_num_list = [10,70,80,90,100]

guess = eval(input('Guess a number: '))

if guess in firstPrize_num_list:
  print('Congratulations, You win our first prize!')

elif guess in secondPrize_num_list:
  print('Congratulations, You win our Second prize!')

else:
  print('Sorry, You guess it wrong...')

print('You can get the prize only when your guess is right.')

Guess a number: 10
Congratulations, You win our first prize!
You can get the prize only when your guess is right.

In [125]:
## Nested if statement >> ถ้าเข้าคอนดิชั่นแรกแล้วยังไปเชคคอนดิชั่นอื่นต่อ
## if-elif-eles >> ถ้าเข้าคอนดิชั่นแรกแล้วจบเลย ไม่ไปต่อ
firstPrize_num_list = [10,20,30,40,50]
secondPrize_num_list = [10,70,80,90,100]

guess = eval(input('Guess a number: '))

if guess < 100:
  if guess in firstPrize_num_list:
      print('Congratulations, You win our first prize!')
  elif guess in secondPrize_num_list:
      print('Congratulations, You win our Second prize!')
  else:
      print('Sorry, You guess it wrong...')
elif guess > 100:
    print('You guess is too high')
else:
    print('Sorry, your guess is wrong')
print('You can get the prize only when your guess is right.')

Guess a number: 300
You guess is too high
You can get the prize only when your guess is right.

In [127]:
## Loop with range function
for i in range (5):
    print('*'*(i+1))

*
**
***
****
*****

In [131]:
## Loop with list/tuple
week =  ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
for day in week:
    print("It's", day, '!')

It's Monday !
It's Tuesday !
It's Wednesday !
It's Thursday !
It's Friday !
It's Saturday !
It's Sunday !

In [132]:
##Loop with string
for letter in "python":
    print(letter)

p
y
t
h
o
n

In [134]:
## While Loop >> รันไปเรื่อยๆจนกว่าจะถูกต้อง
user_input = ' '
while user_input != 'unlock':
    user_input = input(("what is the password?: "))
print('Yes, the password is ' + user_input + '. You may enter.')

what is the password?: 1234
what is the password?: unlock
Yes, the password is unlock. You may enter.

In [136]:
## Break statement >> หยุดเมื่อตรงคอนดิชั่น
week = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
for day in week:
  if day == 'Saturday':
    break
  print(day, 'is a weekday')
print('These are all weekdays')

Monday is a weekday
Tuesday is a weekday
Wednesday is a weekday
Thursday is a weekday
Friday is a weekday
These are all weekdays

In [141]:
## infinite loop >> รันไปเรื่อยๆไม่สนใจคอนดิชั่นอะไรเลย จนกว่าจะเจอสิ่งที่ถูกถึงจะหยุด
user_input = ' '
while True:
  user_input = input(('What is the password?: '))
  if user_input == 'unlock' :
    break
print('Yes, the password is ' + user_input + '. You may enter.')

What is the password?: ,lmwe
What is the password?:  kmwef
What is the password?: kmkwem
What is the password?: unlock
Yes, the password is unlock. You may enter.

In [142]:
## Continue statement >> ข้ามรอบ >> ข้ามเมื่อเจอsaturday
week = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
for day in week:
  if day == 'Saturday':
    continue
  print('Today is', day, '!')
print('What day is missing?!')

Today is Monday !
Today is Tuesday !
Today is Wednesday !
Today is Thursday !
Today is Friday !
Today is Sunday !
What day is missing?!

In [143]:
## Pass Statement >> ข้ามลูปไม่ต้องสนใจลูปนี้
weekday = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
weekend = ['Saturday', 'Sunday']
for day in weekday:
  if day == 'Saturday':
    pass
for day in weekend:
  print('Today is', day, '!')

Today is Saturday !
Today is Sunday !

***EP7 User-defined Function***

In [147]:
### Function with returning values(s) & how to call function
def tempConversion(celsiusTemp): ## function name
  fahrenheitTemp = (celsiusTemp*9/5) + 32
  return(fahrenheitTemp)

convertedTemp = tempConversion(30) ## Call function
print(convertedTemp)

86.0

In [150]:
### Global variable
a = 1
def func1():
  print('Inside func1() a =', a)
def func2():
  a = 2
  print('Inside func2() a =', a)
def func3():
  global a
  a = 3
  print('Inside func3() a =', a)

#Global scope
print('global a =', a)
func1()
print('global a =', a)
func2()
print('global a =', a)
func3()
print('global a =', a)

global a = 1
Inside func1() a = 1
global a = 1
Inside func2() a = 2
global a = 1
Inside func3() a = 3
global a = 3

In [151]:
##Lambda Function
square = lambda y : y*y
print(square(5))

25

In [152]:
##Normal function
def square(y):
  return y*y
print(square(5))

25

In [153]:
##Lambda Function with map()
num_list = [1,2,3,4,5,6,7,8,9,10]
square_list = map(lambda x: x*x, num_list)
print(list(square_list))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [156]:
##Lambda Function with filter()
num_list = [1,2,3,4,5,6,7,8,9,10]
even_num_list = filter(lambda x: x%2 ==0, num_list)
print(list(even_num_list))

## x%2 >> x mod ไม่เอาทศนิยม

[2, 4, 6, 8, 10]