<a href="https://colab.research.google.com/github/Nunrod1201/Python/blob/main/FutureSkill.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**EP3**

In [1]:
name = input('What is your name: ')
height = int(input("What is your height in cm: "))
weight = int(input("What is your weight in cm: "))
BMI = int(weight/height/height*10000)
print('BMI of', name, 'is: ',BMI)

What is your name: Somsri
What is your height in cm: 170
What is your weight in cm: 50
BMI of Somsri is:  17

**EP4**

***Indexing***

In [16]:
#Indexing > list[]
weekday = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
weekday[0]

'Monday'

In [4]:
weekday = ['Monday', '0.3', 'Wednesday', '5', 'Friday']
weekday[1]

'0.3'

In [6]:
#Nested Indexing > list = [,[]]
nested_list = ['Monday', [1, 2, 3, 4, 5]]
nested_list[1]

[1, 2, 3, 4, 5]

In [7]:
#Nested Indexing > list = [,[]]
nested_list = ['Monday', [1, 2, 3, 4, 5]]
nested_list[1][2]

3

In [10]:
#Negative Indexing ไล่จากหลังไปหน้า
#The last element in the list is -1 index and The second to the last element in the list is -2 index
weekday = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
weekday[-3]

'Wednesday'

***Slicing***

In [11]:
#Slicing
#เอาตัวนี้ถึงตัวนี้
weekday = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
weekday[0:3]

['Monday', 'Tuesday', 'Wednesday']

In [13]:
#Slicing
#เอาตั้งแต่ตัวไปนี้เป็นต้นไป
weekday = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
weekday[3:]

['Thursday', 'Friday']

In [15]:
#Slicing
#เอาตั้งแต่ตัวไปนี้เป็นต้นไป ย้อนกลับ
weekday = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
weekday[:-3]

['Monday', 'Tuesday']

***Adding*** ***Elements*** ***to*** ***List***

In [22]:
### append method ###
num_list = [10, 20, 30, 40, 50]
num_list.append(60)
print(num_list)

[10, 20, 30, 40, 50, 60]

In [23]:
### extend method ###
num_list = [10, 20, 30, 40, 50]
num_list.extend([60, 70, 80, 90, 100])
print(num_list)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [28]:
### insert method ### แทรกได้ทีละตัว
### list.insert(index, element) ###
num_list = [10, 20, 30, 40, 50]
num_list.insert(3, 70)
print(num_list)

[10, 20, 30, 70, 40, 50]

In [30]:
### insert range of elements to a specific index in a list ### แทรกได้หลายๆตัว
### list[index:number of element] = (element1, element2, ...)
num_list = [10, 20, 30, 40, 80, 90, 100]
num_list[4:3] = [50, 60, 70,]
print(num_list)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

***Changing Elements of a List***

In [36]:
#ทีละตัว
num_list = [10, 20, 30, 40, 50]
num_list[0] = 0
print(num_list)

[0, 20, 30, 40, 50]

In [37]:
#หลายๆตัว
num_list = [10, 20, 30, 40, 50]
num_list[0:3] = [0, 1, 2]
print(num_list)

[0, 1, 2, 40, 50]

***Concatenating Lists***

In [38]:
weekday = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
weekend = ['Saturday', 'Sunday']
week = weekday + weekend
print(week)

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

In [40]:
week = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
weekend = ['Saturday', 'Sunday']
week += weekend
print(week)

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

***Repeating List***

In [41]:
num_list = [10, 20, 30, 40, 50]*3
print(num_list)

[10, 20, 30, 40, 50, 10, 20, 30, 40, 50, 10, 20, 30, 40, 50]

In [42]:
weekend = ['Saturday', 'Sunday']*3
print(weekend)

['Saturday', 'Sunday', 'Saturday', 'Sunday', 'Saturday', 'Sunday']

***Deleting Elements from a List***

In [43]:
## remove() ## specific item
## list.remove(specific element) ##
num_list = [10, 20, 30, 40, 50]
num_list.remove(20)
print(num_list)

[10, 30, 40, 50]

In [45]:
## pop() ## specific index
## list.pop(specific index)
num_list = [10, 20, 30, 40, 50]
num_list.pop(1)
print(num_list)

[10, 30, 40, 50]

In [47]:
## del() ## Can delete an element or range elements
## 1.del list[index]
## 2.del list[from index:to index]
num_list = [10, 20, 30, 40, 50]
del num_list[1]
print(num_list)

[10, 30, 40, 50]

In [48]:
num_list = [10, 20, 30, 40, 50]
del num_list[1:3]
print(num_list)

[10, 40, 50]

***Clear Elements from List***

In [49]:
## list.clear()
num_list = [10, 20, 30, 40, 50]
num_list.clear()
print(num_list)

[]

In [50]:
## Trick > delete the list by replacing them with empty space[]
num_list = [10, 20, 30, 40, 50]
num_list[:] = []
print(num_list)

[]

***Checking Membership in a list***

1.   in
2.   not in

In [52]:
num_list = [10, 20, 30, 40, 50]
30 in num_list

True

In [54]:
weekend = ['Saturday', 'Sunday']
'monday' not in weekend

True

***Other Methods***

In [60]:
##Sorting >> ascending>> list.sort()
weekday = ['A', 'B', 'C', 'D', 'E']
weekday.sort()
print(weekday)

['A', 'B', 'C', 'D', 'E']

In [61]:
##reverse >> Descending >> list.reverse()
weekday = ['A', 'B', 'C', 'D', 'E']
weekday.reverse()
print(weekday)

['E', 'D', 'C', 'B', 'A']

In [67]:
##count
weekday = ['A', 'B', 'C', 'D', 'E', 'A']
count_A = weekday.count('A')
count_B = weekday.count('B')
print(count_A)
print(count_B)

2
1

In [68]:
##len() >> len(list) >> count the number of elements in a list
weekday = ['A', 'B', 'C', 'D', 'E', 'A']
len(weekday)

6

In [69]:
##max >> max(list)
num_list = [10, 20, 30, 40, 50]
max(num_list)

50

In [70]:
##max >> max(list)
weekday = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
max(weekday)

'Wednesday'

In [71]:
##sum >> sum(list)
num_list = [10, 20, 30, 40, 50]
sum(num_list)

150